<a href="https://colab.research.google.com/github/TrinidadOcampo1/Ai-innovators/blob/main/SQL_vs_Pandas%20ejercicio%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción


* Breve descripción general de Pandas y su importancia.
* Discusión sobre SQL y su relación con las operaciones de Pandas DataFrame.

# 2. Setup

In [1]:
import sqlite3 # a module in Python's standard library that provides an interface to the SQLite database.
import pandas as pd

In [2]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_data = pd.read_csv(url)

In [3]:
conn = sqlite3.connect(':memory:')
titanic_data.to_sql('titanic', conn, index=False)

887

**sqlite3.connect()** es una función que establece una conexión a una base de datos SQLite. Cuando se proporciona el argumento ':memory:', se le indica a SQLite que cree una nueva base de datos en la RAM. La principal ventaja de utilizar una base de datos en memoria es la velocidad.

**.to_sql()** es un método proporcionado por Pandas DataFrames que le permite escribir el contenido del DataFrame en una base de datos SQL.

El primer argumento 'titanic' es el nombre de la tabla que se creará en la base de datos SQLite.

El segundo argumento conn es el objeto de conexión que creamos anteriormente. Le indica al método .to_sql() dónde crear la tabla.

El argumento index=False le indica a Pandas que no escriba el índice del DataFrame como una columna separada en la base de datos. Si omitiera este argumento, obtendría una columna adicional llamada 'index' en su tabla SQL.

Función para ejecutar las queries

In [4]:
# Function to run querys
def run_query(query, connection=conn):
    return pd.read_sql_query(query, connection)

# 3. SQL vs. Pandas

Para **SQL** nuestra tabla se llama *titanic*

Para **pandas** nuestro df se llama *titanic_data*

In [5]:
#Veo mis datos
titanic_data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500



*   **Ver los nombres de 10 pasajeros**

In [12]:
# Usando SQL

run_query(
"""
select name from titanic limit 10

"""
    )

                                                Name
0                             Mr. Owen Harris Braund
1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                              Miss. Laina Heikkinen
3        Mrs. Jacques Heath (Lily May Peel) Futrelle
4                            Mr. William Henry Allen
5                                    Mr. James Moran
6                             Mr. Timothy J McCarthy
7                      Master. Gosta Leonard Palsson
8   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9                 Mrs. Nicholas (Adele Achem) Nasser

In [7]:
# Usando Pandas

titanic_data.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708

In [10]:
# Usando SQL

run_query(
    """
    select distinct pclass from titanic
    """
)

   Pclass
0       3
1       1
2       2

**¿Cuántas clases diferentes hay?**

In [14]:
# Usando Pandas
pd.unique(titanic_data['Pclass']) # Changed 'pclass' to 'Pclass'

array([3, 1, 2])

**Mostrar los pasajeros ordenados por edad**

In [15]:
# Usando SQL

run_query(
    """
    select * from titanic order by age
    """
)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,3,Master. Assad Alexander Thomas,male,0.42,0,1,8.5167
1,1,2,Master. Viljo Hamalainen,male,0.67,1,1,14.5000
2,1,3,Miss. Helene Barbara Baclini,female,0.75,2,1,19.2583
3,1,3,Miss. Eugenie Baclini,female,0.75,2,1,19.2583
4,1,2,Master. Alden Gates Caldwell,male,0.83,0,2,29.0000
...,...,...,...,...,...,...,...,...
882,0,3,Mr. Patrick Connors,male,70.50,0,0,7.7500
883,0,1,Mr. George B Goldschmidt,male,71.00,0,0,34.6542
884,0,1,Mr. Ramon Artagaveytia,male,71.00,0,0,49.5042
885,0,3,Mr. Johan Svensson,male,74.00,0,0,7.7750
886,1,1,Mr. Algernon Henry Wilson Barkworth,male,80.00,0,0,30.0000

In [16]:
# Usando Pandas
pd.unique(titanic_data['Age'])

array([22.  , 38.  , 26.  , 35.  , 27.  , 54.  ,  2.  , 14.  ,  4.  ,
       58.  , 20.  , 39.  , 55.  , 23.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 24.  , 40.  , 48.  , 18.  , 66.  , 42.  , 21.  ,
        3.  , 30.  , 16.  ,  7.  , 49.  , 29.  , 65.  , 46.  , 28.5 ,
        5.  , 11.  , 45.  , 64.  , 17.  , 32.  , 25.  ,  0.83, 33.  ,
       59.  , 71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  ,
       36.5 , 51.  , 55.5 , 40.5 , 44.  ,  1.  , 60.  , 61.  , 56.  ,
       50.  , 36.  , 45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 57.  ,
       23.5 ,  0.92, 43.  , 10.  , 13.  ,  0.75, 69.  , 53.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

**Mostrar los pasajeros que sobrevivieron**

In [17]:
# Usando SQL

run_query(
    """
    select * from titanic where survived = 1
    """
)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
1,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
2,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
3,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
4,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
...,...,...,...,...,...,...,...,...
337,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
338,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
339,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
340,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
341,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000

In [18]:
# Usando Pandas
pd.unique(titanic_data['Survived'])

array([0, 1])

**Mostrar los pasajeros que no sobrevivieron y tenían menos de 30 años**

In [19]:
# Usando SQL

run_query(
    """
    select * from titanic where survived = 0 and age < 30
    """
)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,0,3,Mr. James Moran,male,27.0,0,0,8.4583
2,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
3,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
4,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
...,...,...,...,...,...,...,...,...
300,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
301,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
302,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
303,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
304,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500

In [20]:
# Usando Pandas
pd.unique(titanic_data['Age'])

array([22.  , 38.  , 26.  , 35.  , 27.  , 54.  ,  2.  , 14.  ,  4.  ,
       58.  , 20.  , 39.  , 55.  , 23.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 24.  , 40.  , 48.  , 18.  , 66.  , 42.  , 21.  ,
        3.  , 30.  , 16.  ,  7.  , 49.  , 29.  , 65.  , 46.  , 28.5 ,
        5.  , 11.  , 45.  , 64.  , 17.  , 32.  , 25.  ,  0.83, 33.  ,
       59.  , 71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  ,
       36.5 , 51.  , 55.5 , 40.5 , 44.  ,  1.  , 60.  , 61.  , 56.  ,
       50.  , 36.  , 45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 57.  ,
       23.5 ,  0.92, 43.  , 10.  , 13.  ,  0.75, 69.  , 53.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

Mostrar pasajeron que tienen entre 30 y 50 años

In [21]:
# Usando SQL
run_query(
    """
    select * from titanic where age between 30 and 50
    """
)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
1,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
2,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
3,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
4,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
...,...,...,...,...,...,...,...,...
318,0,1,Mr. Frans Olof Carlsson,male,33.0,0,0,5.0000
319,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
320,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
321,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
322,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [22]:
# Usando Pandas
pd.unique(titanic_data['Age'])

array([22.  , 38.  , 26.  , 35.  , 27.  , 54.  ,  2.  , 14.  ,  4.  ,
       58.  , 20.  , 39.  , 55.  , 23.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 24.  , 40.  , 48.  , 18.  , 66.  , 42.  , 21.  ,
        3.  , 30.  , 16.  ,  7.  , 49.  , 29.  , 65.  , 46.  , 28.5 ,
        5.  , 11.  , 45.  , 64.  , 17.  , 32.  , 25.  ,  0.83, 33.  ,
       59.  , 71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  ,
       36.5 , 51.  , 55.5 , 40.5 , 44.  ,  1.  , 60.  , 61.  , 56.  ,
       50.  , 36.  , 45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 57.  ,
       23.5 ,  0.92, 43.  , 10.  , 13.  ,  0.75, 69.  , 53.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

**¿Cuántos pasajeros se llaman 'John'?**

In [23]:
# Usando SQL

run_query(
    """
    select count(*) from titanic where name like '%John%'
    """
)

   count(*)
0        52

In [24]:
# Usando Pandas

pd.unique(titanic_data['Name'])

array(['Mr. Owen Harris Braund',
       'Mrs. John Bradley (Florence Briggs Thayer) Cumings',
       'Miss. Laina Heikkinen',
       'Mrs. Jacques Heath (Lily May Peel) Futrelle',
       'Mr. William Henry Allen', 'Mr. James Moran',
       'Mr. Timothy J McCarthy', 'Master. Gosta Leonard Palsson',
       'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
       'Mrs. Nicholas (Adele Achem) Nasser',
       'Miss. Marguerite Rut Sandstrom', 'Miss. Elizabeth Bonnell',
       'Mr. William Henry Saundercock', 'Mr. Anders Johan Andersson',
       'Miss. Hulda Amanda Adolfina Vestrom',
       'Mrs. (Mary D Kingcome) Hewlett', 'Master. Eugene Rice',
       'Mr. Charles Eugene Williams',
       'Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke',
       'Mrs. Fatima Masselmani', 'Mr. Joseph J Fynney',
       'Mr. Lawrence Beesley', 'Miss. Anna McGowan',
       'Mr. William Thompson Sloper', 'Miss. Torborg Danira Palsson',
       'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund',
       'Mr. Farred Chehab Emir', 'Mr. Charles Alexander Fortune',
       "Miss. Ellen O'Dwyer", 'Mr. Lalio Todoroff',
       'Don. Manuel E Uruchurtu',
       'Mrs. William Augustus (Marie Eugenie) Spencer',
       'Miss. Mary Agatha Glynn', 'Mr. Edward H Wheadon',
       'Mr. Edgar Joseph Meyer', 'Mr. Alexander Oskar Holverson',
       'Mr. Hanna Mamee', 'Mr. Ernest Charles Cann',
       'Miss. Augusta Maria Vander Planke', 'Miss. Jamila Nicola-Yarred',
       'Mrs. Johan (Johanna Persdotter Larsson) Ahlin',
       'Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin',
       'Miss. Simonne Marie Anne Andree Laroche',
       'Miss. Margaret Delia Devaney', 'Mr. William John Rogers',
       'Mr. Denis Lennon', "Miss. Bridget O'Driscoll",
       'Mr. Youssef Samaan',
       'Mrs. Josef (Josefine Franchi) Arnold-Franchi',
       'Master. Juha Niilo Panula', 'Mr. Richard Cater Nosworthy',
       'Mrs. Henry Sleeper (Myna Haxtun) Harper',
       'Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe',
       'Mr. Engelhart Cornelius Ostby', 'Mr. Hugh Woolner',
       'Miss. Emily Rugg', 'Mr. Mansouer Novel',
       'Miss. Constance Mirium West', 'Master. William Frederick Goodwin',
       'Mr. Orsen Sirayanian', 'Miss. Amelie Icard',
       'Mr. Henry Birkhardt Harris', 'Master. Harald Skoog',
       'Mr. Albert A Stewart', 'Master. Gerios Moubarek',
       'Mrs. (Elizabeth Ramell) Nye', 'Mr. Ernest James Crease',
       'Miss. Erna Alexandra Andersson', 'Mr. Vincenz Kink',
       'Mr. Stephen Curnow Jenkin', 'Miss. Lillian Amy Goodwin',
       'Mr. Ambrose Jr Hood', 'Mr. Apostolos Chronopoulos',
       'Mr. Lee Bing', 'Mr. Sigurd Hansen Moen', 'Mr. Ivan Staneff',
       'Mr. Rahamin Haim Moutal', 'Master. Alden Gates Caldwell',
       'Miss. Elizabeth Dowdell', 'Mr. Achille Waelens',
       'Mr. Jan Baptist Sheerlinck', 'Miss. Brigdet Delia McDermott',
       'Mr. Francisco M Carrau', 'Miss. Bertha Ilett',
       'Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom',
       'Mr. William Neal Ford', 'Mr. Selman Francis Slocovski',
       'Miss. Mabel Helen Fortune', 'Mr. Francesco Celotti',
       'Mr. Emil Christmann', 'Mr. Paul Edvin Andreasson',
       'Mr. Herbert Fuller Chaffee', 'Mr. Bertram Frank Dean',
       'Mr. Daniel Coxon', 'Mr. Charles Joseph Shorney',
       'Mr. George B Goldschmidt', 'Mr. William Bertram Greenfield',
       'Mrs. John T (Ada Julia Bone) Doling', 'Mr. Sinai Kantor',
       'Miss. Matilda Petranec', 'Mr. Pastcho Petroff',
       'Mr. Richard Frasar White', 'Mr. Gustaf Joel Johansson',
       'Mr. Anders Vilhelm Gustafsson', 'Mr. Stoytcho Mionoff',
       'Miss. Anna Kristine Salkjelsvik', 'Mr. Albert Johan Moss',
       'Mr. Tido Rekic', 'Miss. Bertha Moran',
       'Mr. Walter Chamberlain Porter', 'Miss. Hileni Zabour',
       'Mr. David John Barton', 'Miss. Katriina Jussila',
       'Miss. Malake Attalah', 'Mr. Edvard Pekoniemi',
       'Mr. Patrick Connors', 'Mr. William John Robert Turpin',
       'Mr. Quigg Edmond Baxter', 'Miss. Ellis Anna Maria Andersson',
       'Mr. Stanley George Hickman', 'Mr. Leonard Charles Moore',
       'Mr. Nicholas Nasser', 'Miss. Susan Webber',
       'Mr. Percival Wayland White', 'Master. Elias Nicola-Yarred',
       'Mr. Martin McMahon', 'Mr. Fridtjof Arne Madsen',
       'Miss. Anna Peter', 'Mr. Johan Ekstrom', 'Mr. Jozef Drazenoic',
       'Mr. Domingos Fernandeo Coelho',
       'Mrs. Alexander A (Grace Charity Laury) Robins',
       'Mrs. Leopold (Mathilde Francoise Pede) Weisz',
       'Mr. Samuel James Hayden Sobey', 'Mr. Emile Richard',
       'Miss. Helen Monypeny Newsom', 'Mr. Jacques Heath Futrelle',
       'Mr. Olaf Elon Osen', 'Mr. Victor Giglio',
       'Mrs. Joseph (Sultana) Boulos', 'Miss. Anna Sofia Nysten',
       'Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen',
       'Mr. Jeremiah Burke', 'Mr. Edgardo Samuel Andrew',
       'Mr. Joseph Charles Nicholls', 'Mr. August Edvard Andersson',
       'Miss. Robina Maggie Ford', 'Mr. Michel Navratil',
       'Rev. Thomas Roussel Davids Byles', 'Rev. Robert James Bateman',
       'Mrs. Thomas (Edith Wearne) Pears', 'Mr. Alfonzo Meo',
       'Mr. Austin Blyler van Billiard', 'Mr. Ole Martin Olsen',
       'Mr. Charles Duane Williams', 'Miss. Katherine Gilnagh',
       'Mr. Harry Corn', 'Mr. Mile Smiljanic',
       'Master. Thomas Henry Sage', 'Mr. John Hatfield Cribb',
       'Mrs. James (Elizabeth Inglis Milne) Watt',
       'Mr. John Viktor Bengtsson', 'Mr. Jovo Calic',
       'Master. Eino Viljami Panula',
       'Master. Frank John William Goldsmith',
       'Mrs. (Edith Martha Bowerman) Chibnall',
       'Mrs. William (Anna Bernhardina Karlsson) Skoog',
       'Mr. John D Baumann', 'Mr. Lee Ling', 'Mr. Wyckoff Van der hoef',
       'Master. Arthur Rice', 'Miss. Eleanor Ileen Johnson',
       'Mr. Antti Wilhelm Sivola', 'Mr. James Clinch Smith',
       'Mr. Klas Albin Klasen', 'Master. Henry Forbes Lefebre',
       'Miss. Ann Elizabeth Isham', 'Mr. Reginald Hale',
       'Mr. Lionel Leonard', 'Miss. Constance Gladys Sage',
       'Mr. Rene Pernot', 'Master. Clarence Gustaf Hugo Asplund',
       'Master. Richard F Becker', 'Miss. Luise Gretchen Kink-Heilmann',
       'Mr. Hugh Roscoe Rood', "Mrs. Thomas (Johanna Godfrey) O'Brien",
       'Mr. Charles Hallace Romaine', 'Mr. John Bourke',
       'Mr. Stjepan Turcin', 'Mrs. (Rosa) Pinsky', 'Mr. William Carbines',
       'Miss. Carla Christine Nielsine Andersen-Jensen',
       'Master. Michel M Navratil',
       'Mrs. James Joseph (Margaret Tobin) Brown', 'Miss. Elise Lurette',
       'Mr. Robert Mernagh', 'Mr. Karl Siegwart Andreas Olsen',
       'Miss. Margaret Madigan', 'Miss. Henriette Yrois',
       'Mr. Nestor Cyriel Vande Walle', 'Mr. Frederick Sage',
       'Mr. Jakob Alfred Johanson', 'Mr. Gerious Youseff',
       'Mr. Gurshon Cohen', 'Miss. Telma Matilda Strom',
       'Mr. Karl Alfred Backstrom', 'Mr. Nassef Cassem Albimona',
       'Miss. Helen Carr', 'Mr. Henry Blank', 'Mr. Ahmed Ali',
       'Miss. Clear Annie Cameron', 'Mr. John Henry Perkin',
       'Mr. Hans Kristensen Givard', 'Mr. Philip Kiernan',
       'Miss. Madeleine Newell', 'Miss. Eliina Honkanen',
       'Mr. Sidney Samuel Jacobsohn', 'Miss. Albina Bazzani',
       'Mr. Walter Harris', 'Mr. Victor Francis Sunderland',
       'Mr. James H Bracken', 'Mr. George Henry Green',
       'Mr. Christo Nenkoff', 'Mr. Frederick Maxfield Hoyt',
       'Mr. Karl Ivar Sven Berglund', 'Mr. William John Mellors',
       'Mr. John Hall Lovell', 'Mr. Arne Jonas Fahlstrom',
       'Miss. Mathilde Lefebre',
       'Mrs. Henry Birkhardt (Irene Wallach) Harris',
       'Mr. Bengt Edvin Larsson', 'Mr. Ernst Adolf Sjostedt',
       'Miss. Lillian Gertrud Asplund',
       'Mr. Robert William Norman Leyson', 'Miss. Alice Phoebe Harknett',
       'Mr. Stephen Hold', 'Miss. Marjorie Collyer',
       'Mr. Frederick William Pengelly', 'Mr. George Henry Hunt',
       'Miss. Thamine Zabour', 'Miss. Katherine Murphy',
       'Mr. Reginald Charles Coleridge', 'Mr. Matti Alexanteri Maenpaa',
       'Mr. Sleiman Attalah', 'Dr. William Edward Minahan',
       'Miss. Agda Thorilda Viktoria Lindahl',
       'Mrs. William (Anna) Hamalainen', 'Mr. Richard Leonard Beckwith',
       'Rev. Ernest Courtenay Carter', 'Mr. James George Reed',
       'Mrs. Wilhelm (Elna Matilda Persson) Strom',
       'Mr. William Thomas Stead', 'Mr. William Arthur Lobb',
       'Mrs. Viktor (Helena Wilhelmina) Rosblom',
       'Mrs. Darwis (Hanne Youssef Razi) Touma',
       'Mrs. Gertrude Maybelle Thorne', 'Miss. Gladys Cherry',
       'Miss. Anna Ward', 'Mrs. (Lutie Davis) Parrish',
       'Master. Edvin Rojj Felix Asplund', 'Mr. Emil Taussig',
       'Mr. William Harrison', 'Miss. Delia Henry', 'Mr. David Reeves',
       'Mr. Ernesti Arvid Panula', 'Mr. Ernst Ulrik Persson',
       'Mrs. William Thompson (Edith Junkins) Graham',
       'Miss. Amelia Bissette', 'Mr. Alexander Cairns',
       'Mr. William Henry Tornquist',
       'Mrs. (Elizabeth Anne Maidment) Mellinger', 'Mr. Charles H Natsch',
       'Miss. Hanora Healy', 'Miss. Kornelia Theodosia Andrews',
       'Miss. Augusta Charlotta Lindblom', 'Mr. Francis Parkes',
       'Master. Eric Rice', 'Mrs. Stanton (Rosa Hunt) Abbott',
       'Mr. Frank Duane', 'Mr. Nils Johan Goransson Olsson',
       'Mr. Alfons de Pelsmaeker', 'Mr. Edward Arthur Dorking',
       'Mr. Richard William Smith', 'Mr. Ivan Stankovic',
       'Mr. Theodore de Mulder', 'Mr. Penko Naidenoff',
       'Mr. Masabumi Hosono', 'Miss. Kate Connolly', 'Miss. Ellen Barber',
       'Mrs. Dickinson H (Helen Walton) Bishop', 'Mr. Rene Jacques Levy',
       'Miss. Aloisia Haas', 'Mr. Ivan Mineff', 'Mr. Ervin G Lewy',
       'Mr. Mansour Hanna', 'Miss. Helen Loraine Allison',
       'Mr. Adolphe Saalfeld',
       'Mrs. James (Helene DeLaudeniere Chaput) Baxter',
       'Miss. Anna Katherine Kelly', 'Mr. Bernard McCoy',
       'Mr. William Cahoone Jr Johnson', 'Miss. Nora A Keane',
       'Mr. Howard Hugh Williams', 'Master. Hudson Trevor Allison',
       'Miss. Margaret Fleming',
       'Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo) Penasco y Castellana',
       'Mr. Samuel Abelson', 'Miss. Laura Mabel Francatelli',
       'Miss. Margaret Bechstein Hays', 'Miss. Emily Borie Ryerson',
       'Mrs. William (Anna Sylfven) Lahtinen', 'Mr. Ignjac Hendekovic',
       'Mr. Benjamin Hart', 'Miss. Helmina Josefina Nilsson',
       'Mrs. Sinai (Miriam Sternin) Kantor', 'Dr. Ernest Moraweck',
       'Miss. Mary Natalie Wick',
       'Mrs. Frederic Oakley (Margaretta Corning Stone) Spedden',
       'Mr. Samuel Dennis', 'Mr. Yoto Danoff', 'Miss. Hilda Mary Slayter',
       'Mrs. Albert Francis (Sylvia Mae Harbaugh) Caldwell',
       'Mr. George John Jr Sage', 'Miss. Marie Grice Young',
       'Mr. Johan Hansen Nysveen', 'Mrs. (Ada E Hall) Ball',
       'Mrs. Frank John (Emily Alice Brown) Goldsmith',
       'Miss. Jean Gertrude Hippach', 'Miss. Agnes McCoy',
       'Mr. Austen Partner', 'Mr. George Edward Graham',
       'Mr. Leo Edmondus Vander Planke',
       'Mrs. Henry William (Clara Heinsheimer) Frauenthal',
       'Mr. Mitto Denkoff', 'Mr. Thomas Clinton Pears',
       'Miss. Elizabeth Margaret Burns', 'Mr. Karl Edwart Dahl',
       'Mr. Stephen Weart Blackwell', 'Master. Edmond Roger Navratil',
       'Miss. Alice Elizabeth Fortune', 'Mr. Erik Gustaf Collander',
       'Mr. Charles Frederick Waddington Sedgwick',
       'Mr. Stanley Hubert Fox', 'Miss. Amelia Brown',
       'Miss. Marion Elsie Smith',
       'Mrs. Thomas Henry (Mary E Finck) Davison',
       'Master. William Loch Coutts', 'Mr. Jovan Dimic',
       'Mr. Nils Martin Odahl', 'Mr. Fletcher Fellows Williams-Lambert',
       'Mr. Tannous Elias', 'Mr. Josef Arnold-Franchi',
       'Mr. Wazli Yousif', 'Mr. Leo Peter Vanden Steen',
       'Miss. Elsie Edith Bowerman', 'Miss. Annie Clemmer Funk',
       'Miss. Mary McGovern', 'Miss. Helen Mary Mockler',
       'Mr. Wilhelm Skoog', 'Mr. Sebastiano del Carlo',
       'Mrs. (Catherine David) Barbara', 'Mr. Adola Asim',
       "Mr. Thomas O'Brien", 'Mr. Mauritz Nils Martin Adahl',
       'Mrs. Frank Manley (Anna Sophia Atkinson) Warren',
       'Mrs. (Mantoura Boulos) Moussa', 'Miss. Annie Jermyn',
       'Mme. Leontine Pauline Aubart', 'Mr. George Achilles Harder',
       'Mr. Jakob Alfred Wiklund', 'Mr. William Thomas Beavan',
       'Mr. Sante Ringhini', 'Miss. Stina Viola Palsson',
       'Mrs. Edgar Joseph (Leila Saks) Meyer',
       'Miss. Aurora Adelia Landergren', 'Mr. Harry Elkins Widener',
       'Mr. Tannous Betros', 'Mr. Karl Gideon Gustafsson',
       'Miss. Rosalie Bidois', 'Miss. Maria Nakid', 'Mr. Juho Tikkanen',
       'Mrs. Alexander Oskar (Mary Aline Towner) Holverson',
       'Mr. Vasil Plotcharsky', 'Mr. Charles Henry Davies',
       'Master. Sidney Leonard Goodwin', 'Miss. Kate Buss',
       'Mr. Matthew Sadlier', 'Miss. Bertha Lehmann',
       'Mr. William Ernest Carter', 'Mr. Carl Olof Jansson',
       'Mr. Johan Birger Gustafsson', 'Miss. Marjorie Newell',
       'Mrs. Hjalmar (Agnes Charlotta Bengtsson) Sandstrom',
       'Mr. Erik Johansson', 'Miss. Elina Olsson',
       'Mr. Peter David McKane', 'Dr. Alfred Pain',
       'Mrs. William H (Jessie L) Trout', 'Mr. Juha Niskanen',
       'Mr. John Adams', 'Miss. Mari Aina Jussila',
       'Mr. Pekka Pietari Hakkarainen', 'Miss. Marija Oreskovic',
       'Mr. Shadrach Gale', 'Mr. Carl/Charles Peter Widegren',
       'Master. William Rowe Richards',
       'Mr. Hans Martin Monsen Birkeland', 'Miss. Ida Lefebre',
       'Mr. Todor Sdycoff', 'Mr. Henry Hart', 'Miss. Daisy E Minahan',
       'Mr. Alfred Fleming Cunningham', 'Mr. Johan Julian Sundman',
       'Mrs. Thomas (Annie Louise Rowley) Meek',
       'Mrs. James Vivian (Lulu Thorne Christian) Drew',
       'Miss. Lyyli Karoliina Silven', 'Mr. William John Matthews',
       'Miss. Catharina Van Impe', 'Mr. David Charters',
       'Mr. Leo Zimmerman',
       'Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Danbom',
       'Mr. Viktor Richard Rosblom', 'Mr. Phillippe Wiseman',
       'Mrs. Charles V (Ada Maria Winfield) Clarke',
       'Miss. Kate Florence Phillips', 'Mr. James Flynn',
       'Mr. Berk (Berk Trembisky) Pickard',
       'Mr. Mauritz Hakan Bjornstrom-Steffansson',
       'Mrs. Percival (Florence Kate White) Thorneycroft',
       'Mrs. Charles Alexander (Alice Adelaide Slow) Louch',
       'Mr. Nikolai Erland Kallio', 'Mr. William Baird Silvey',
       'Miss. Lucile Polk Carter', 'Miss. Doolina Margaret Ford',
       'Mrs. Sidney (Emily Hocking) Richards', 'Mr. Mark Fortune',
       'Mr. Johan Henrik Johannesson Kvillner',
       'Mrs. Benjamin (Esther Ada Bloomfield) Hart', 'Mr. Leon Hampe',
       'Mr. Johan Emil Petterson', 'Ms. Encarnacion Reynaldo',
       'Mr. Bernt Johannesen-Bratthammer', 'Master. Washington Dodge',
       'Miss. Madeleine Violet Mellinger', 'Mr. Frederic Kimber Seward',
       'Miss. Marie Catherine Baclini', 'Major. Arthur Godfrey Peuchen',
       'Mr. Edwy Arthur West', 'Mr. Ingvald Olai Olsen Hagland',
       'Mr. Benjamin Laventall Foreman', 'Mr. Samuel L Goldenberg',
       'Mr. Joseph Peduzzi', 'Mr. Ivan Jalsevac',
       'Mr. Francis Davis Millet', 'Mrs. Frederick R (Marion) Kenyon',
       'Miss. Ellen Toomey', "Mr. Maurice O'Connor", 'Mr. Harry Anderson',
       'Mr. William Morley', 'Mr. Arthur H Gee',
       'Mr. Jacob Christian Milling', 'Mr. Simon Maisner',
       'Mr. Manuel Estanslas Goncalves', 'Mr. William Campbell',
       'Mr. John Montgomery Smart', 'Mr. James Scanlan',
       'Miss. Helene Barbara Baclini', 'Mr. Arthur Keefe',
       'Mr. Luka Cacic', 'Mrs. Edwy Arthur (Ada Mary Worth) West',
       'Mrs. Amin S (Marie Marthe Thuillard) Jerwan',
       'Miss. Ida Sofia Strandberg', 'Mr. George Quincy Clifford',
       'Mr. Peter Henry Renouf', 'Mr. Lewis Richard Braund',
       'Mr. Nils August Karlsson', 'Miss. Hildur E Hirvonen',
       'Master. Harold Victor Goodwin', 'Mr. Anthony Wood Frost',
       'Mr. Richard Henry Rouse', 'Mrs. (Hedwig) Turkula',
       'Mr. Dickinson H Bishop', 'Miss. Jeannie Lefebre',
       'Mrs. Frederick Maxfield (Jane Anne Forby) Hoyt',
       'Mr. Edward Austin Kent', 'Mr. Francis William Somerton',
       'Master. Eden Leslie Coutts',
       'Mr. Konrad Mathias Reiersen Hagland', 'Mr. Einar Windelov',
       'Mr. Harry Markland Molson', 'Mr. Ramon Artagaveytia',
       'Mr. Edward Roland Stanley', 'Mr. Gerious Yousseff',
       'Miss. Elizabeth Mussey Eustis', 'Mr. Frederick William Shellard',
       'Mrs. Hudson J C (Bessie Waldo Daniels) Allison',
       'Mr. Olof Svensson', 'Mr. Petar Calic', 'Miss. Mary Canavan',
       "Miss. Bridget Mary O'Sullivan", 'Miss. Kristina Sofia Laitinen',
       'Miss. Roberta Maioni',
       'Mr. Victor de Satode Penasco y Castellana',
       'Mrs. Frederick Charles (Jane Richards) Quick',
       'Mr. George Bradley', 'Mr. Henry Margido Olsen', 'Mr. Fang Lang',
       'Mr. Eugene Patrick Daly', 'Mr. James Webber',
       'Mr. James Robert McGough',
       'Mrs. Martin (Elizabeth L. Barrett) Rothschild',
       'Mr. Satio Coleff', 'Mr. William Anderson Walker',
       'Mrs. (Amelia Milley) Lemore', 'Mr. Patrick Ryan',
       'Mrs. William A (Florence Agnes Hughes) Angle',
       'Mr. Stefo Pavlovic', 'Miss. Anne Perreault', 'Mr. Janko Vovk',
       'Mr. Sarkis Lahoud',
       'Mrs. Louis Albert (Ida Sophia Fischer) Hippach',
       'Mr. Fared Kassem', 'Mr. James Farrell', 'Miss. Lucy Ridsdale',
       'Mr. John Farthing', 'Mr. Johan Werner Salonen',
       'Mr. Richard George Hocking', 'Miss. Phyllis May Quick',
       'Mr. Nakli Toufik', 'Mr. Joseph Jr Elias',
       'Mrs. Catherine (Catherine Rizk) Peter', 'Miss. Marija Cacic',
       'Miss. Eva Miriam Hart', 'Major. Archibald Willingham Butt',
       'Miss. Bertha LeRoy', 'Mr. Samuel Beard Risien',
       'Miss. Hedwig Margaritha Frolicher', 'Miss. Harriet R Crosby',
       'Miss. Ingeborg Constanzia Andersson',
       'Miss. Sigrid Elisabeth Andersson', 'Mr. Edward Beane',
       'Mr. Walter Donald Douglas', 'Mr. Arthur Ernest Nicholson',
       'Mrs. Edward (Ethel Clarke) Beane', 'Mr. Julian Padro y Manent',
       'Mr. Frank John Goldsmith', 'Master. John Morgan Jr Davies',
       'Mr. John Borland Jr Thayer', 'Mr. Percival James R Sharp',
       "Mr. Timothy O'Brien", 'Mr. Fahim Leeni', 'Miss. Velin Ohman',
       'Mr. George Wright',
       'Lady. (Lucille Christiana Sutherland)Duff Gordon',
       'Mr. Victor Robbins', 'Mrs. Emil (Tillie Mandelbaum) Taussig',
       'Mrs. Guillaume Joseph (Emma) de Messemaeker',
       'Mr. Thomas Rowan Morrow', 'Mr. Husein Sivic',
       'Mr. Robert Douglas Norman', 'Mr. John Simmons',
       'Miss. (Marion Ogden) Meanwell', 'Mr. Alfred J Davies',
       'Mr. Ilia Stoytcheff',
       'Mrs. Nils (Alma Cornelia Berglund) Palsson', 'Mr. Tannous Doharr',
       'Mr. Carl Jonsson', 'Mr. George Harris',
       'Mrs. Edward Dale (Charlotte Lamson) Appleton',
       'Mr. John Irwin Flynn', 'Miss. Mary Kelly',
       'Mr. Alfred George John Rush', 'Mr. George Patchett',
       'Miss. Ethel Garside', 'Mrs. William Baird (Alice Munger) Silvey',
       'Mrs. Joseph (Maria Elias) Caram', 'Mr. Eiriik Jussila',
       'Miss. Julie Rachel Christy',
       'Mrs. John Borland (Marian Longstreth Morris) Thayer',
       'Mr. William James Downton', 'Mr. John Hugo Ross',
       'Mr. Uscher Paulner', 'Miss. Ruth Taussig',
       'Mr. John Denzil Jarvis', 'Mr. Maxmillian Frolicher-Stehli',
       'Mr. Eliezer Gilinski', 'Mr. Joseph Murdlin',
       'Mr. Matti Rintamaki',
       'Mrs. Walter Bertram (Martha Eustis) Stephenson',
       'Mr. William James Elsbury', 'Miss. Mary Bourke',
       'Mr. John Henry Chapman', 'Mr. Jean Baptiste Van Impe',
       'Miss. Jessie Wills Leitch', 'Mr. Alfred Johnson',
       'Mr. Hanna Boulos', 'Sir. Cosmo Edmund Duff Gordon',
       'Mrs. Sidney Samuel (Amy Frances Christy) Jacobsohn',
       'Mr. Petco Slabenoff', 'Mr. Charles H Harrington',